

.inline-text{
	position: absolute;
}
.price{
	padding-top: 10px;
	position: absolute;
	top:0;
  	left: 15px;
  	background-color: #E53935;
  	color: white;
  	font-weight: bold;
  	padding: 10px;
}
.productDescription{
	background-color: #F9F9F9;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	text-align: center;
	padding-bottom: 10px;
}
.addToCartButton{
	margin: 0px auto;
	font-size: 17pt;
	background-color: #E53935;
	width: 50px;
	height: 50px;
	border-radius: 100%;

}
.addToCartButton .glyphicon-shopping-cart{
	margin-top: 12px;
	color: white;
}

/* product page */
.price span{
	color: green;
}
.customAddButton{
	background-color: #2196F3;
	border: none;
	color: white;
	margin-top: 10px;
	width: 100%;
	border-radius: 3px;
	padding: 10px;
}
.filter{
	background-color: #f1f1f1;
	padding: 10px;
	border-radius: 5px;
}