@{
    ViewBag.Title = "Home Page";
}
@model MVCWebshop.Models.HomeModel
<div class="row">
    <div class="col-md-9">
        <div class="jumbotron">
            <h2>Check out our huge collection of products</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu felis posuere, aliquet lacus vel, euismod massa. Quisque ullamcorper mi ut interdum interdum.</p>
            <div class="btn btn-primary">See collection</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading text">Categories</div>
            <div class="panel-body">
                <div class="category">
                    @foreach (var category in Model.CategoryList)
                    {
                        <div class="title text-left inline-text"><a href="#">@category.Title</a></div>
                        <div class="number text-right">(@category.Articles.Count)</div>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>
<p>Featured Products</p>
<hr>
<div class="row">
    <div class="col-md-3">
        <img src="~/Content/Images/placeholder-image.png" alt="placeholder image" class="img-responsive">
        <p class="price">&euro; 299</p>
        <div class="productDescription">

            <h4>ProductName</h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu felis posuere, aliquet lacus vel, euismod massa.</p>
            <!-- <div class="addToCartButton">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </div> -->

        </div>
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/placeholder-image.png" alt="placeholder image" class="img-responsive">
        <p class="price">&euro; 299</p>
        <div class="productDescription">

            <h4>ProductName</h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu felis posuere, aliquet lacus vel, euismod massa.</p>
        </div>
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/placeholder-image.png" alt="placeholder image" class="img-responsive">
        <p class="price">&euro; 299</p>
        <div class="productDescription">

            <h4>ProductName</h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu felis posuere, aliquet lacus vel, euismod massa.</p>
        </div>
    </div>
    <div class="col-md-3">
        <img src="/Content/Images/placeholder-image.png" alt="placeholder image" class="img-responsive">
        <p class="price">&euro; 299</p>
        <div class="productDescription">

            <h4>ProductName</h4>
            <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu felis posuere, aliquet lacus vel, euismod massa.</p>
        </div>
    </div>
</div>
<br>
<a href="#">see all products >></a>
@foreach(var item in Model.ArticleList)
{
    <span>@item.Name</span>
}
